<!--<app-post [comentario]="comentario"></app-post>-->
<app-menu></app-menu>
<div id="inicio">
    <div class="row mx-0 my-4">
        <div class="col-9 d-flex justify-content-end">
            <h2>Crear Post</h2>
        </div>
        <div class="col-10">
            <app-create-post (enviarComentario)="cogerComentario($event)" class="my-3" type="create"></app-create-post>
        </div>
    </div>
    
    <div class="row mx-0">
        <div class="col-10 my-2" *ngFor="let comentario of comentarios">
            <app-post [comentario]="comentario"></app-post>
        </div>
    </div>
</div>
