
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-weight: 600; }
  
  .button {
    color: #ffffff;
    background-color: #24cf5f;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s; }
    .button:hover, .button:active, .button:focus {
      -ms-transform: scale(1.1);
          transform: scale(1.1); }
  
  .button--transparent {
    background: transparent;
    border: 0;
    outline: 0; }
  
  .button--close {
    position: absolute;
    top: 10px;
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    transition: all .25s;
    z-index: 10; }
    .button--close svg {
      width: 20px;
      height: 20px; }
      .button--close svg * {
        fill: currentColor; }
    .button--close:hover, .button--close:active, .button--close:focus {
      color: #222222;
      background-color: #ffffff;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
  
  .button--info {
    position: absolute;
    top: 0;
    right: 0; }
  
  input {
    width: calc(100% - 10px);
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 2px solid #00a1ff; }
    input:valid {
      border-color: #252525; }
    input:focus {
      outline: none;
      border-color: #00a1ff; }
  
  
  #input--cc {
    position: relative;
    padding-top: 6px; }
    #input--cc input {
      padding-left: 46px;
      width: calc(100% - 46px); }
    #input--cc:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 36px;
      height: 45px;
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20class%3D%22nc-icon%20glyph%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cg%3E%20%3Cpath%20data-color%3D%22color-2%22%20fill%3D%22%238c8c8c%22%20d%3D%22M47%2C16V9c0-1.105-0.895-2-2-2H3C1.895%2C7%2C1%2C7.895%2C1%2C9v7H47z%22%3E%3C/path%3E%20%3Cpath%20fill%3D%22%238c8c8c%22%20d%3D%22M1%2C22v17c0%2C1.105%2C0.895%2C2%2C2%2C2h42c1.105%2C0%2C2-0.895%2C2-2V22H1z%20M18%2C33H8c-0.552%2C0-1-0.448-1-1s0.448-1%2C1-1h10%20c0.552%2C0%2C1%2C0.448%2C1%2C1S18.552%2C33%2C18%2C33z%20M40%2C33h-5c-0.552%2C0-1-0.448-1-1s0.448-1%2C1-1h5c0.552%2C0%2C1%2C0.448%2C1%2C1S40.552%2C33%2C40%2C33z%22%3E%3C/path%3E%20%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 36px;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  
  .perfil{
      display: grid;
      height: 100%;
      grid-template-rows: 20% 80%;
      justify-items: center;
      .datos{
          height: 80%;
          width: 100%;
          .row{
              height: 100%;
          }
      }
  }
  .modal {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .upload{
    position: absolute;
    top: 70vh;
    left: 20vw;
    max-width: 80%;
    font-size: 5vh;
    color: black;
  -ms-transform: translateX(calc(-50% - 10px));
      transform: translateX(calc(-50% - 10px));
  }
    .modal__container {
        display: flex;
        max-width: 100%;
        min-height: 100vh;
        /* margin-bottom: 125px; */
        background-color: #ffffff;
        /* border-radius: 5px; */
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      .modal__featured {
        position: relative;
        -ms-flex: 1;
            flex: 1;
        min-width: 40vw;
        padding: 20px;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      
       }
     }
    .modal__circle {
      position: absolute;
      top: 0;
      left: 0;
      height: 200%;
      width: 200%;
      background-color: #00a1ff;
      border-radius: 50%;
      -ms-transform: translateX(-50%) translateY(-25%);
          transform: translateX(-50%) translateY(-25%); }
    .modal__product {
        position: absolute;
        top: 25%;
        left: 50%;
        max-width: 85%;
        transform: translateX(calc(-50% - 10px));
        border: 1px solid black;
        border-radius: 50%;
        width: 40vh;
        height: 40vh;
      -ms-transform: translateX(calc(-50% - 10px));
          transform: translateX(calc(-50% - 10px));
         }
    .modal__content {
      -ms-flex: 3;
          flex: 3;
      padding: 40px 30px; }