<app-menu></app-menu>
<div class="modal">
    <div class="modal__container">
        <div class="modal__featured">
            <div class="modal__circle"></div>
            <img [src]="image" class="modal__product" />
            <i class="fas fa-cloud-upload-alt upload" (click)="initFileUpload()"></i>
        </div>
        <div class="modal__content">

            <div class="row mx-0 justify-content-center align-items-center perfil">
                <h2>Perfil</h2>
                <div class="col-12 datos">
                    <div class="row mx-0 justify-content-center align-items-center">
                        <div class="col-md-6 col-12 my-4">
                            <input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" />
                        </div>
                        <div class="col-md-6 col-12 my-4">
                            <input type="text" placeholder="Apellido" [(ngModel)]="usuario.apellido" />
                        </div>
                        <div class="col-12 my-4">
                            <input type="email" placeholder="Email" [(ngModel)]="usuario.email" />
                        </div>

                        <div class=" col-12 my-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                    [(ngModel)]="usuario.fecha_nacimiento" ngbDatepicker #d="ngbDatepicker"
                                    [minDate]="{year: 1948, month: 12, day: 31}"
                                    [maxDate]="{year: 2005, month: 1, day: 1} " >
                                <div class="input-group-append d-flex align-items-center">
                                    <i class="far fa-calendar-alt" (click)="d.toggle()" style="font-size: 200%;"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-info" (click)="modificar()">Modificar</button>
                        </div>
                    </div>
                </div>
            </div> <!-- END: .modal__content -->
        </div> <!-- END: .modal__container -->
    </div> <!-- END: .modal -->
</div>
<form action="prueba()">
    <input type="file" id="file" (change)="uploadFile($event.target.files)">
</form>