<div class="row mx-0 justify-content-center align-items-center h100">
    <div class="container" id="container" [ngClass]="{'right-panel-active':!isSign}">
        <div class="form-container sign-up-container">
            <div class="form">
                <h1>Crea una cuenta</h1>
                <div class="row mx-0">
                    <div class="col-md-6 col-12 my-4">
                        <input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" />
                    </div>
                    <div class="col-md-6 col-12 my-4">
                        <input type="text" placeholder="Apellido" [(ngModel)]="usuario.apellido" />
                    </div>
                    <div class="col-12">
                        <input type="email" placeholder="Email" [(ngModel)]="usuario.email" />
                    </div>

                    <div class=" col-12">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                [(ngModel)]="usuario.fecha_nacimiento" ngbDatepicker #d="ngbDatepicker"
                                [minDate]="{year: 1948, month: 12, day: 31}"
                                [maxDate]="{year: 2005, month: 1, day: 1} ">
                            <div class="input-group-append d-flex align-items-center">
                                <i class="far fa-calendar-alt" (click)="d.toggle()" style="font-size: 200%;"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 my-4">
                        <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.password" />
                    </div>
                    <div class="col-md-6 col-12 my-4">
                        <input type="text" placeholder="repetir Contraseña" [(ngModel)]="usuario.nombre" />
                    </div>

                </div>
                <button (click)="registrar()">Registrar</button>
            </div>
        </div>
        <div class="form-container sign-in-container">
            <div class="form">
                <h1>Ingresar</h1>
                <div class="social-container">

                </div>
                <span>Usa tu cuenta</span>
                <input type="email" placeholder="Email" [(ngModel)]="usuario.email" />
                <input type="password" placeholder="Password" [(ngModel)]="usuario.password" />

                <button (click)="login()">Ingresar</button>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="isSign=!isSign">Ingresar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenido</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="isSign=!isSign">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
