<div class="row mx-0" *ngIf="type=='comentario'">
    <div class="col-10">
        <textarea class="btn btn-white rounded" [(ngModel)]="comentario.texto"></textarea>
    </div>
    <div class="col-2">
        <i class="fas fa-paper-plane" (click)="enviar()"></i>
    </div>
</div> 

<div class="row mx-0" *ngIf="type=='create'">
    <div class="col-12 my-2 iscreate">
        <textarea class="btn btn-white rounded" [(ngModel)]="comentario.texto"></textarea>
    </div>
    <div class="col-12 d-flex justify-content-end my-2">
        <button class="btn btn-success" (click)="enviar()">Publicar</button>
        
    </div>
</div> 