textarea{
    overflow-y: auto;
    border: 2px solid black;
    width: 100%;
    max-height: 10vh;
    height: 4vh;
    min-height: 2vh;
    appearance: input;
    font-size: 100%;
    padding: 0 4%;
    text-align: justify;
}
i{
    font-size: 4vh;
    color: green;
}
.iscreate{
    textarea{
        overflow-y: auto;
        border: 2px solid black;
        width: 100%;
        max-height: 30vh;
        height: 30vh;
        min-height: 2vh;
        appearance: input;
        font-size: 100%;
        padding: 0 4%;
        text-align: justify;
    }
}