<!--<div class="row mx-0 post">
    <div class="col-3 img">
        <img [src]="comentario.foto" alt="" class="rounded-circle">
    </div>
    <div class="col-9 texto">
        <div class="isText">
            {{comentario.texto}}.
        </div>
    </div>
    <div class="col-12 likes">
        <div class="row mx-0 justify-content-end align-items-center p-2 pr-5">
            <i class="fas fa-reply" (click)="isRespuesta=!isRespuesta">responder</i>
            <i class="fa-heart" [ngClass]="{'far':!ulike,'fas':ulike}" (click)="setLike()"> {{comentario.likes.length}} likes</i>
        </div>
    </div>
</div>
<div class="row mx-0 justify-content-end" *ngIf="comentario.comentario" >
    <div class="col-10 my-2" *ngFor="let respuesta of comentario.comentario">
        <app-post [comentario]="respuesta"></app-post>
    </div>
    <div class="col-8 my-3" *ngIf="isRespuesta">
        <app-create-post (enviarComentario)="cogerComentario($event)"></app-create-post>
    </div>
</div>
-->


<div class="content">
    <div class="card ">
        <div class="row mx-0">
            
            <div class="col-4 d-flex justify-content-center">
                <img [src]="comentario.foto"/>
            </div>
            <div class="col-8">
                <div class="row mx-0">
                    <h1>Francesco Moustache</h1>
                </div>
                <div class="row mx-0">
                    <h3></h3>
                </div>
                <div class="row mx-0">
                    <p class="bio">{{comentario.texto}}.</p>
                </div>
                
            </div>
            <div class="col-12 likes">
                <div class="row mx-0 justify-content-end align-items-center p-2 pr-5">
                    <i class="fas fa-reply mx-2" (click)="isRespuesta=!isRespuesta">responder</i>
                    <i class="fa-heart mx-2" [ngClass]="{'far':!ulike,'fas':ulike}" (click)="setLike()"> {{comentario.likes.length}} likes</i>
                </div>
            </div>
        </div>
       <div class="row mx-0">
           <div class="col-4"></div>
        <div class="col-8 my-3 p-0" *ngIf="isRespuesta">
            <app-create-post (enviarComentario)="cogerComentario($event)"></app-create-post>
        </div>
       </div>
    </div>
</div>
<div class="row mx-0 justify-content-end" *ngIf="comentario.comentario" >
    <div class="col-10 my-2" *ngFor="let respuesta of comentario.comentario">
        <app-post [comentario]="respuesta"></app-post>
    </div>
    
</div>