<div class="row mx-0 justify-content-end menu">
    <div class="col-2" [routerLink]="['/inicio']"> <i class="fas fa-home"></i>  Inicio</div>
    <div class="col-2" [routerLink]="['/perfil']"> <i class="fas fa-user-alt"></i>  Perfil</div>
</div>
