.menu{
    background-color: black;
    color: white;
    height: 6vh;
    min-height: 14vh;
    div{
        border:1px solid white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: #00a1ff;
            margin: 0 4%;
        }
    }
}